/***************************************
   Default Styles
************************************** */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: serif;
  color: #000;
}

#copy{
  font-size: small;
  font-style: italic;
  padding: 40px 0 15px; 
  text-align: center;
}

#container {
  width: 1400px;
  height: auto;
  margin: auto;
}


h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.3em;
  margin-bottom: .5em;
}
h3 {
  font-size: 1.1em;
  margin-bottom: 0;
}

code {
  font-size: 1.2em;
}

a{
  color: #000000;
}

/***************************************
   Chapter Styles
************************************** */

#logo{
  width: 120px;
  height: auto;
}

.chapter {
  margin: 1em;
  margin-top: 50px;
}
.chapter ul {
  width: 100%;
  display: table;
}
.chapter ul li{
  align-self: : center;
  display: table-cell;
  width: auto;
  border-color: black;
  border-width: 5px;
  padding: 20px 0 20px;
}
.chapter ul li h1
{
  text-align: center;
  margin: 10px;
}
.chapter ul li p
{
  margin-right:  10px;
  text-align: center;
}
.chapter ul li img{
  margin-left: : 10px;
  width: 300px;
  text-align: left;
  box-shadow: 0 0 3px #000;

}

#logo_inmortal {
  float: left;
  width: 40%;
  padding: 40px 0 0 0;
}

#logo_inmortal img{
  margin-right: 10px;
  box-shadow: none;
  filter: drop-shadow(0 0 3px #000);
  
}

ul.final {
  display: inline-block;
}

ul.final li {
  padding: unset;
}

#texto_logo {
  padding: auto;
  width: 70%;
}

.banner {
  align-items: center;
  justify-content: center;
}

/*
.switcher #logo{
  box-shadow: none;
  filter: drop-shadow(0 0 2px #666);
}*/

 button{
  box-shadow: none;
  filter: drop-shadow(0 0 2px #666);
  border-radius: 30px;
}

button a{
  text-decoration: none;
}

.switcher {
  top: 5px;
  position: sticky;
  background-color: #f4ac41;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: .9em;
  filter: drop-shadow(0 0 3px #000);
  z-index: 5;
  margin: auto;
  width: 1000px;
}

/*.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1px #000000;
    top: 0;
    left: 0;

}*/
.switcher h3 {
  font-size: 25px;
  font-weight: bolder;
  margin: .5em 0;
}

#header {
  text-align: center;
  font-size: 30px;
  clear: both;
}
.lema{
  font-style: italic;
  font-size: 12px;
  text-align: center;}

body.large .chapter {
  font-size: 1.5em;
}

body.narrow .chapter {
  width: 250px;
}

.selected {
  font-weight: bold;
}

.hidden {
  display: none;
}

.hover {
  cursor: pointer;
  background-color: #afa;
}

.galeria{
  text-align: center;
}

.profilePic{
  border-radius: 50%;
  border-top-left-radius: 80px;
}

#contacto {
  text-align: justify;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}

img {
  vertical-align: middle;
  /*
  filter: drop-shadow(0 0 3px #333);*/
}

.mySlides.fade img{
  width: 100%;
}
.mySlides.fade div.text{
  background-color:  rgba(0, 0, 0, 0.8);
  padding: 10px 10% 10px 10%;
  bottom: 0px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: orange;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffcc99;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-shadow: 0 0 3px #000;
}
 .mySlides.fade img{
  box-shadow: 0 0 3px #000;
 }

.active, .dot:hover {
  background-color: #ffff00;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Reproductor de video */
.videoWrapper {
  position: relative;
  /*padding-bottom: 56.25%;*/ /* 16:9 */
  /*padding-top: 25px;
  padding-left: 50%;*/

  /* Los valores del vídeo */
  width: 1440px;
  height: 900px;
  align-self: center;
  margin: 50px 0 50px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  /* Ajustar valores al vídeo*/
  width: 1440px;
  height: 900px;
}

/* Efecto paralax */

.parallax {
  /* The image used */
  background-image: url("../imagenes/inmortal/fondoinmortal.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Esto quita el espacio en blanco que dejan debajo de la imagen.
    Lo borro para que no haya huecos extraños y después de las dunas
    sea todo un color plano

    https://stackoverflow.com/questions/5804256/image-inside-div-has-extra-space-below-the-image
    */
  line-height: 0px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

#dunas{
  padding-top: 300px;
  max-width: 100%;
  top: 0px;
  background-color: transparent;
}